@use '../var' as *;
@use 'element-plus/theme-chalk/src/mixins/mixins' as *;

// date picker - date / dates / daterange / datetimerange / datetime
@include b(date-table) {

  @include when(week-mode) {
    .#{$namespace}-date-table__row {
      &:hover {
        .#{$namespace}-date-table-cell {
          background-color: getCssVar('color-primary', 'light-2');
        }
        td:first-child .#{$namespace}-date-table-cell {
          border-top-left-radius: 2px;
          border-bottom-left-radius: 2px;
        }
        td:last-child .#{$namespace}-date-table-cell {
          border-top-right-radius: 2px;
          border-bottom-right-radius: 2px;
        }
      }

      &.disabled .#{$namespace}-date-table-cell__text {
        &:hover {
          background-color: getCssVar('color-primary', 'light-2');
        }
      }

      &.current .#{$namespace}-date-table-cell {
        background-color: getCssVar('color-primary', 'light-2');
      }
    }
  }

  td {

    @include b(date-table-cell) {

      @include b(date-table-cell__text) {
        border-radius: 2px;
      }
    }

    &.available:not(.selected):not(.in-range):not(.current):hover {
      color: getCssVar('text-color', 'regular');

      .#{$namespace}-date-table-cell__text {
        &:hover {
          background-color: #F3F8FF; 
        }
      }
    }

    &.in-range .#{$namespace}-date-table-cell {
      background-color: getCssVar('color', 'primary', 'light-2');
      &:hover {
        background-color: getCssVar('color', 'primary', 'light-2');
      }
    }

    &.current:not(.disabled) {
      .#{$namespace}-date-table-cell__text {
        color: getCssVar('color', 'white');
        background-color: getCssVar('color', 'primary');
      }
      &:focus-visible {
        .#{$namespace}-date-table-cell__text {
          outline: 2px solid getCssVar('datepicker-active-color');
          outline-offset: 1px;
        }
      }
    }

    &.start-date .#{$namespace}-date-table-cell {
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;
    }

    &.end-date .#{$namespace}-date-table-cell {
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
    }

    &.next-month,
    &.prev-month {
      color: getCssVar('datepicker-off-text-color');
    }

    &.disabled .#{$namespace}-date-table-cell__text {
      &:hover {
        color: getCssVar('text-color', 'placeholder');
      }
    }

    &.selected .#{$namespace}-date-table-cell {
      background-color: getCssVar('color-white');
      border-radius: 2px;
      &:hover {
        background-color: getCssVar('color-white');
      }
    }

    &.selected .#{$namespace}-date-table-cell__text {
      border-radius: 2px;

      &:hover {
        background-color: getCssVar('datepicker-active-color');
        color: getCssVar('color', 'white');
      }
    }

    &.today:not(.start-date):not(.end-date):not(.current) {
      .#{$namespace}-date-table-cell__text {
        border: getCssVar('border-width') getCssVar('border-style') getCssVar('color-primary');
        font-weight: normal;

        &:hover {
          background-color: #F3F8FF; 
          color: getCssVar('color-primary');
        }
      }
    }
  }
}