@use '../var' as *;
@use 'element-plus/theme-chalk/src/mixins/mixins' as *;

@include b(date-table) {

  @include when(week-mode) {
    .#{$namespace}-date-table__row {
      &:hover {
        td:first-child .#{$namespace}-date-table-cell {
          border-top-left-radius: 2px;
          border-bottom-left-radius: 2px;
        }
        td:last-child .#{$namespace}-date-table-cell {
          border-top-right-radius: 2px;
          border-bottom-right-radius: 2px;
        }
      }
    }
  }

  td {

    @include b(date-table-cell) {

      @include b(date-table-cell__text) {
        border-radius: 2px;

        &:hover {
          border: getCssVar('border-width') getCssVar('border-style') getCssVar('color-primary');
        }
      }
    }

    &.in-range .#{$namespace}-date-table-cell {
      background-color: getCssVar('color', 'primary', 'light-2');
      &:hover {
        background-color: getCssVar('color', 'primary', 'light-2');
      }
    }

    &.start-date .#{$namespace}-date-table-cell {
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;
    }

    &.end-date .#{$namespace}-date-table-cell {
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
    }
  }
}