@use 'element-plus/theme-chalk/src/mixins/mixins' as *;
@use '../var' as *;

// date picker - month
@include b(month-table) {
  td {
    .cell {
      border-radius: 2px;

      &:hover {
        background-color: #f3f8ff;
        color: getCssVar('text-color', 'regular');
      }
    }

    &.disabled .cell {
      color: getCssVar('border-color');
    }

    &.today .cell {
      border: getCssVar('border-width') getCssVar('border-style')
        getCssVar('color-primary');
      background-color: getCssVar('color-white');
      color: getCssVar('color-primary');
      font-weight: normal;
    }

    &.current:not(.disabled) .cell {
      background-color: getCssVar('color-primary');
      color: getCssVar('color-white');
      font-weight: 500;
    }

    &.disabled .cell:hover {
      color: getCssVar('border-color');
      border: none;
      background-color: getCssVar('color', 'white');
    }

    &.today .cell:hover {
      background-color: #f3f8ff;
    }

    &.current:not(.disabled) .cell:hover {
      background-color: getCssVar('color-primary-light-3');
    }
  }
}
