@use 'element-plus/theme-chalk/src/mixins/mixins' as *;
@use '../var' as *;

// date picker - 时分秒
@include b(time-spinner) {

  @include e(item) {
    color: #50545C;

    &:hover:not(.is-disabled):not(.is-active) {
      background-color: getCssVar('color-primary-light-2');
    }

    &.is-active:not(.is-disabled)  {
      color: getCssVar('text-color', 'regular');
    }

    &.is-disabled {
      color: getCssVar('border-color', '');
    }
  }
}