@use 'sass:map';

@use './var.scss' as *;
@use 'element-plus/theme-chalk/src/mixins/mixins' as *;
@use 'element-plus/theme-chalk/src/mixins/utils' as *;

@include b(button-group) {

  @each $type in (primary, success, warning, danger, info) {
    .#{$namespace}-button--#{$type} {
      &:first-child {
        border-right-color: getCssVar('color', $type, 'dark-2');
      }
      &:last-child {
        border-left-color: getCssVar('color', $type, 'dark-2');
      }
      &.is-plain:first-child,
      &:active:first-child {
        border-right-color: getCssVar('color', $type);
      }
      &.is-plain:last-child,
      &:active:last-child {
        border-left-color: getCssVar('color', $type);
      }
      &:hover:first-child {
        border-right-color: getCssVar('color', $type, 'light-3');
      }
      &:hover:last-child {
        border-left-color: getCssVar('color', $type, 'light-3');
      }
    }
  }
}