@use 'sass:map';

@use './var.scss' as *;
@use 'element-plus/theme-chalk/src/mixins/mixins' as *;

@include b(checkbox-button) {
  @include set-component-css-var('checkbox-button', $checkbox-button);
}

@include b(checkbox-button) {

  @include e(inner) {
    height: 32px;
    line-height: 30px;
    padding: 0px 12px;
  }

  &.is-checked.is-disabled {

    & .#{$namespace}-checkbox-button__inner {
      background-color: #E9E9EA;
      border-color: getCssVar('border-color', '');
      color: getCssVar('text-color', 'placeholder');
    }
  }
  &.is-disabled {

    & .#{$namespace}-checkbox-button__inner {
      color: getCssVar('border-color', '');
      border-color: var(
        #{getCssVarName('button-disabled-text-color')},
        map.get($button, 'disabled-text-color')
      );
    }
  }
  &.is-focus:not(.is-checked) {
    & .#{$namespace}-checkbox-button__inner {
      border-color: getCssVar('border-color', '');
      color: getCssVar('text-color', 'regular');
    }
  }
}
