@use 'sass:math';
@use 'sass:map';

@use 'element-plus/theme-chalk/src/mixins/mixins' as *;
@use './var.scss' as *;

@include b(input-number) {
  width: map.get($input-number-width, 'default');

  .#{$namespace}-input {
    &__wrapper {
      width: map.get($input-number-width, 'default');

      .#{$namespace}-input__inner {
        text-align: left;
      }
    }
  }
}