@use 'sass:map';

@use 'element-plus/theme-chalk/src/mixins/mixins' as *;
@use 'element-plus/theme-chalk/src/mixins/var' as *;
@use './var.scss' as *;

@mixin mixed-input-border($color) {
  box-shadow: 0 0 0 1px $color inset; 
}

@include b(textarea) {
  width: 240px;

  & .#{$namespace}-input__count {
    color: getCssVar('border-color', '');
  }
}

@include b(input) {
  width: 240px;

  @include e(wrapper) {
    width: getCssVar('date-editor-width');
    box-sizing: border-box;
  }

  @include when(disabled) {
    cursor: not-allowed;

    .#{$namespace}-input__wrapper {
      background-color: map.get($input-disabled, 'fill');
      @include mixed-input-border(map.get($input-disabled, 'border'));
    }

    .#{$namespace}-input__inner {
      color: map.get($input-disabled, 'text-color');
      -webkit-text-fill-color: map.get($input-disabled, 'text-color');
      cursor: not-allowed;

      &::placeholder {
        color: map.get($input-disabled, 'placeholder-color');
      }
    }

    .#{$namespace}-input__icon {
      cursor: not-allowed;
    }
  }

  @include e(inner) {

    &:focus {
      caret-color: getCssVar('color-primary');
    }
  }

  & .#{$namespace}-input__count {

    .#{$namespace}-input__count-inner {
      color: getCssVar('border-color', '');
    }
  }
}

@include b(input-group) {

  @include e((append, prepend)) {
    background-color: getCssVar('color-primary-light-9');
    color:#7C7F85;
    padding: 0 10px;
  }
}
