@use 'sass:map';

@use 'element-plus/theme-chalk/src/mixins/mixins' as *;
@use 'element-plus/theme-chalk/src/mixins/utils' as *;
@use 'element-plus/theme-chalk/src/mixins/var' as *;
@use './var' as *;

@include b(pagination) {

  @include set-component-css-var('pagination', $pagination);

  .#{$namespace}-input__inner {
    padding-left: getCssVar('pagination-item-gap');
    text-align: left;
  }

  .#{$namespace}-select .#{$namespace}-input {
    width: 100px;
    min-width: 100px;
  }

  @include when(background) {

    .btn-prev,
    .btn-next,
    .#{$namespace}-pager li {
      margin: 0 2px;
      background-color: getCssVar('color', 'white');
      border: getCssVar('border', 'width') getCssVar('border', 'style') getCssVar('pagination-button-bg-color');

      &.is-active {
        border: none;
      }

      &:disabled,
      &.is-disabled {
        color: getCssVar('border-color', '');
        background-color: getCssVar('color', 'white');
      }

      &:hover:not(.is-active):not(.is-disabled):not(:disabled) {
        color: getCssVar('text-color', 'regular');
        background-color: getCssVar('color-primary', 'light-9');
      }
    }
  }

  @include e(sizes) {
    margin-right: calc(getCssVar('pagination-item-gap') - 2px);

    .#{$namespace}-input {
      margin-right: 0;

      .#{$namespace}-input__wrapper {
        padding: 1px 8px;
      }
    }
  }

  @include e(jump) {
    margin-left: calc(getCssVar('pagination-item-gap') - 2px);

    .#{$namespace}-input {
      margin-right: 0;
    }
  }
}

