@use 'sass:map';

@use 'element-plus/theme-chalk/src/mixins/mixins' as *;
@use './var.scss' as *;

@include b(select-dropdown) {

  @include when(multiple) {
    & .#{$namespace}-select-dropdown__item.selected {
      background-color: map.get($radio-button, 'checked-bg-color');
    }
  }

  .#{$namespace}-select-dropdown__item.hover {
    background-color: map.get($fill-color, '');
  }

  .#{$namespace}-select-dropdown__item.selected {
    background-color: map.get($radio-button, 'checked-bg-color');
    font-weight: 500;
  }


  .#{$namespace}-select-dropdown__item.is-disabled {
    color: getCssVar('border-color');
  }
}

@include b(select-dropdown__list) {
  padding: map.get($select-dropdown, 'padding');
}

@include b(select-dropdown__empty) {
  padding: map.get($select-dropdown, 'empty-padding');
  font-size: getCssVar('font-size-base');
}