@use 'sass:map';
@use 'sass:math';

@use 'element-plus/theme-chalk/src/common/var.scss' as common;
@use 'element-plus/theme-chalk/src/mixins/mixins.scss' as *;
@use 'element-plus/theme-chalk/src/color/index.scss' as *;

$colors: () !default;
@each $type in common.$types {
  $colors: map.deep-merge(
    (
      $type: (
        'base': map.get(common.$colors, $type, 'base')
      )
    ),
    $colors
  ) !global;
}

// https://sass-lang.com/documentation/values/maps#immutability
// mix colors with white/black to generate light/dark level
@mixin set-color-mix-level($type, $number, $mode: 'light', $mix-color: $color-white) {
  // hex mix color
  $colors: map.deep-merge(
    (
      $type: (
        '#{$mode}-#{$number}': mix($mix-color, map.get($colors, $type, 'base'), math.percentage(math.div($number, 10)))
      )
    ),
    $colors
  ) !global;
}

// dark-mode
@each $type in common.$types {
  @for $i from 1 through 9 {
    @include set-color-mix-level($type, $i, 'light', common.$color-white);
  }
}
@each $type in common.$types {
  @include set-color-mix-level($type, 2, 'dark', common.$color-black);
}

$text-color: () !default;
$text-color: map.merge(
  (
    'regular': #242933,
    'placeholder': #A7A9AD,
  ),
  $text-color
);

$border-color: () !default;
$border-color: map.merge(
  (
    '': #D3D4D6,
  ),
  $border-color
);

// Border
$border-width: 1px !default;
$border-style: solid !default;
$border-color-hover: getCssVar('color', 'primary') !default;

$border-radius: () !default;
$border-radius: map.merge(
  (
    'base': 2px,
    'small': 2px,
    'round': 20px,
    'circle': 100%,
  ),
  $border-radius
);

// Input
$input-disabled: () !default;
$input-disabled: map.merge(
  (
    'fill': getCssVar('button', 'disabled-bg-color'),
    'border': getCssVar('button', 'disabled-text-color'),
    'text-color': getCssVar('button', 'disabled-text-color'),
    'placeholder-color': getCssVar('button', 'disabled-text-color'),
  ),
  $input-disabled
);

$radio-checked: () !default;
$radio-checked: map.merge(
  (
    'text-color': getCssVar('text-color-regular'),
    'input-border-color': getCssVar('color-primary'),
    'icon-color': getCssVar('color-white'),
  ),
  $radio-checked
);

$radio-button: () !default;
$radio-button: map.merge(
  (
    'checked-bg-color': #F4F8FE,
    'checked-text-color': getCssVar('color-primary'),
    'disabled-checked-fill': getCssVar('button-disabled-border-color'),
  ),
  $radio-button
);

// Checkbox
$checkbox: () !default;
$checkbox: map.merge(
  (
    'disabled-input-fill': #F4F4F5,
    'disabled-checked-input-fill': #F4F4F5,
    'disabled-checked-icon-color': getCssVar('button-disabled-text-color'),
    'checked-text-color': getCssVar('text-color-regular'),
  ),
  $checkbox
);

$checkbox-button: () !default;
$checkbox-button: map.merge(
  (
    'checked-bg-color': #F4F8FE,
    'checked-text-color': getCssVar('color-primary'),
  ),
  $checkbox-button
);

// Notification
$notification: () !default;
$notification: map.merge(
  (
    'width': 480px,
    'padding': 16px,
    'radius': 4px,
    'shadow': 0px 2px 24px 0px rgba(36,41,51,0.11),
    'border-color': getCssVar('border-color-lighter'),
    'icon-size': 16px,
    'group-margin-left': 8px,
    'group-margin-right': 8px,
    'content-font-size': getCssVar('font-size-base'),
    'content-color': getCssVar('text-color-regular'),
    'title-font-size': 16px,
    'title-line-height': 14px,
    'title-color': getCssVar('text-color-primary'),
    'close-color': getCssVar('text-color-secondary'),
    'close-hover-color': getCssVar('text-color-regular'),
  ),
  $notification
);

// Alert
$alert: () !default;
$alert: map.merge(
  (
    'padding': 9.5px 16px,
  ),
  $alert
);

// Message
$message: () !default;
$message: map.merge(
  (
    'bg-color': getCssVar('color-white'),
    'border-color': getCssVar('border-color-lighter'),
    'padding': 16px,
    'close-size': 16px,
    'close-icon-color': getCssVar('text-color-placeholder'),
    'close-hover-color': getCssVar('text-color-secondary'),
    'shadow': 0px 2px 24px 0px rgba(36,41,51,0.11),
  ),
  $message
);

// Dialog
$dialog: () !default;
$dialog: map.merge(
  (
    'padding-primary': 18px 24px,
    'header-border-color': #F4F4F5,
    'title-font-size': getCssVar('font-size-base'),
    'title-font-weight': 500,
    'font-line-height': 1,
    'content-padding': 24px,
    'footer-padding': 12px 24px,
  ),
  $dialog
);

// skeleton
$skeleton: () !default;
$skeleton: map.merge(
  (
    'color': #F4F4F5,
  ),
  $skeleton
);

// Table
$table-padding: () !default;
$table-padding: map.merge(
  (
    'large': 12px 0,
    'default': 8px 12px,
    'small': 4px 0,
  ),
  $table-padding
);

// Pagination
$pagination: () !default;
$pagination: map.merge(
  (
    'button-bg-color': getCssVar('button', 'disabled-border-color'),
  ),
  $pagination
);

// Slider
$slider: () !default;
$slider: map.merge(
  (
    'main-bg-color': #94B4EB,
    'main-hover-bg-color': getCssVar('color-primary'),
    'runway-bg-color': #E9E9EA,
    // 'stop-bg-color': getCssVar('color-white'),
    // 'disabled-color': getCssVar('text-color-placeholder'),
    // 'border-radius': 3px,
    'height': 4px,
    'button-size': 10px, 
    // 'button-wrapper-size': 36px,
    // 'button-wrapper-offset': -15px,
  ),
  $slider
);

$date-editor: () !default;
$date-editor: map.merge(
  (
    'width': 240px,
    'monthrange-width': 300px,
    'daterange-width': 350px,
    'datetimerange-width': 400px,
  ),
  $date-editor
);

// Rate
$rate: () !default;
$rate: map.merge(
  (
    'fill-color': #FAD20C,
  ),
  $rate
);

$input-number-width: () !default;
$input-number-width: map.merge(
  (
    'large': 180px,
    'default': 184px,
    'small': 120px,
  ),
  $input-number-width
);

// Button
$button: () !default;
$button: map.merge(
  (
    'disabled-text-color': #D3D4D6,
    'disabled-border-color': #E9E9EA,
    'disabled-bg-color': #F8F8F9,
  ),
  $button
);

$button-border-width: $border-width !default;

$button-font-size: () !default;
$button-font-size: map.merge(
  (
    'large': getCssVar('font-size', 'base'),
    'default': getCssVar('font-size', 'base'),
    'small': 12px,
  ),
  $button-font-size
);

$button-border-radius: () !default;
$button-border-radius: map.merge(
  (
    'large': getCssVar('border-radius', 'base'),
    'default': getCssVar('border-radius', 'base'),
    'small': calc(#{getCssVar('border-radius', 'base')} - 1px),
  ),
  $button-border-radius
);

$button-padding-vertical: () !default;
$button-padding-vertical: map.merge(
  (
    'large': 13px,
    'default': 9px,
    'small': 6px,
  ),
  $button-padding-vertical
);

$button-padding-horizontal: () !default;
$button-padding-horizontal: map.merge(
  (
    'large': 20px,
    'default': 16px,
    'small': 12px,
  ),
  $button-padding-horizontal
);

$font-size: () !default;
$font-size: map.merge(
  (
    'extra-large': 20px,
    'large': 18px,
    'medium': 16px,
    'base': 14px,
    'small': 13px,
    'extra-small': 12px,
  ),
  $font-size
);

// fill
$fill-color: () !default;
$fill-color: map.merge(
  (
    '': #F8F8F9,
    'light': #FFFFFF,
    'dark': #F8F8F9,
  ),
  $fill-color
);

// mask
$mask-color: () !default;
$mask-color: map.merge(
  (
    'extra-light': rgba(0, 0, 0, 0)
  ),
  $mask-color
);

