@use 'sass:map';
@use 'sass:math';

@use 'element-plus/theme-chalk/src/common/var.scss' as common;
@use 'element-plus/theme-chalk/src/mixins/mixins.scss' as *;
@use 'element-plus/theme-chalk/src/color/index.scss' as *;

$colors: () !default;
@each $type in common.$types {
  $colors: map.deep-merge(
    (
      $type: (
        'base': map.get(common.$colors, $type, 'base')
      )
    ),
    $colors
  ) !global;
}

// https://sass-lang.com/documentation/values/maps#immutability
// mix colors with white/black to generate light/dark level
@mixin set-color-mix-level($type, $number, $mode: 'light', $mix-color: $color-white) {
  // hex mix color
  $colors: map.deep-merge(
    (
      $type: (
        '#{$mode}-#{$number}': mix($mix-color, map.get($colors, $type, 'base'), math.percentage(math.div($number, 10)))
      )
    ),
    $colors
  ) !global;
}

// dark-mode
@each $type in common.$types {
  @for $i from 1 through 9 {
    @include set-color-mix-level($type, $i, 'light', common.$color-white);
  }
}
@each $type in common.$types {
  @include set-color-mix-level($type, 2, 'dark', common.$color-black);
}

// Button
// css3 var in packages/theme-chalk/src/button.scss
$button: () !default;
$button: map.merge(
  (
    'disabled-text-color': #D3D4D6,
    'disabled-border-color': #E9E9EA,
    'disabled-bg-color': #F8F8F9,
  ),
  $button
);

// text
$text-color: () !default;
$text-color: map.merge(
  (
    // 'placeholder': #D3D4D6,
  ),
  $text-color
);

// fill
$fill-color: () !default;
$fill-color: map.merge(
  (
    '': #F8F8F9,
    'light': #FFFFFF,
    'dark': #F8F8F9,
  ),
  $fill-color
);

// mask
$mask-color: () !default;
$mask-color: map.merge(
  (
    'extra-light': rgba(0, 0, 0, 0)
  ),
  $mask-color
);
